
.body {
    background-image: "https://www.kastapp.co/images/gradient-violet-bg.jpg;" height="300" width="800"  
}

.navbar {
    overflow: auto;
    font-size: 20px;
    color: white;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 90%;
    height: 25%;
    float: right;
    margin: 10px 10px 10px 10px;
    text-decoration: none;

}   
.menulink {
    text-align:center;
    margin: 2px 2px 2px 2px;
    float: right;
    color: white;
    font-size: 15px;
    text-decoration: none;
    overflow: auto;
}    

.logo {
    text-align:left;
    margin: -6px;
    padding: 10px 10px 10px 10px;

}
.button2 {
    background-color: #23118a;
    border-color: white;
    color: white;
    font-weight: normal;
    padding: 5px 15px;
    margin: 5px 5px 5px 5px;
    text-align: right;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 4px;
    padding-top: 10px;
    cursor: pointer;
    float: right;
}   

.laptop {
    margin: 150px;
    padding: 0px;
    text-align: center;
}
.topsection {
    margin: auto;
    width: 50%;
    font-size: 25px;
    text-align: center;
    color: white;
    padding-bottom: 40px;

}

.button {
    background-color:#fe9000;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}    

.container {
    padding-top: 30px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    height: 75%;
    text-align: center;
  }
  .container img {
    margin: 15px;
    width: 25%;
    height: 40px;
  }
